{% extends 'layout.html' %}

{% block content %}

<div class="container-lg mt-5 text-center">
    <div class="row">
        <h2>Turn {{ session_info['turn'] }}</h2>
        <h3>{{ current_player }}, make your move</h3>
        <div class="col"><h4>Mr. X Last Move: {{ session_info['mrx_last_transport']}}</h4></div>
        <div class="col"><h4>Remaining Tickets:</h4>
        {% if session_info['player_turn'] == 1 %}
        <p>Hidden Ferry: {{ remaining_tickets_by_transport_method['hidden_ferry'] }}</p>
        {% else %}
            {% for transport_method in remaining_tickets_by_transport_method %}
            {% if transport_method != 'hidden_ferry' %}
            <p>{{ transport_method.replace('_', ' ').capitalize() }}: {{ remaining_tickets_by_transport_method[transport_method] }}</p>
            {% endif %}
            {% endfor %}
        {% endif %}
        </div>

    </div>
    <div class="row">   
        <div class="col">
            <h3>Current Player Positions:</h3>
            {# Only show player information for non-mrx players or mrx during the correct turns and only while it it mrx's turn#}
            {% for player in players%}
                {% if (player['mrx']==1 and session_info['turn'] in [3,8,13,18,24]) or player['mrx']==0 or session_info['player_turn'] == 1%}
                    {% if player['mrx']==1 %}
                    <div class="alert alert-danger" role="alert">
                        <p>{{ player['nickname'] }} (Mr. X) is at position: <b>{{ player['position'] }}</b></p>
                    </div>
                    {% else %}
                    <div class="alert alert-warning" role="alert">
                        <p>{{ player['nickname'] }} is at position: <b>{{ player['position'] }}</b></p>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-6">
            
            <img src="{{ image }}" class="img-fluid" alt="Game Map">
        </div>
        <div class="col">
            <form action="/process_turn" method="post">
                <h3>Your Move Options:</h3>
                {%if move_options['metro']|length > 0 %}
                    <h4>Metro{%if session_info['player_turn'] != 1 %} ({{ remaining_tickets_by_transport_method['metro'] }} tickets left) {% endif %}:</h4>
                    {% for metro_option in move_options['metro'] %}
                    <div class="alert alert-danger" role="alert">
                        <input class="form-check-input" type="radio" name="selected_move" id="metro" value="{{ metro_option }}">
                        <label class="form-check-label" for="metro">{{ metro_option }}</label>
                        <input name="mode_of_transport" type="text" value="metro" hidden>
                    </div>
                    {% endfor %}
                    <input name="current_player_id" type="number" value="{{ current_player_id }}" hidden>
                    <input name="session_id" type="number" value="{{ session_info['session_id'] }}" hidden>
                    <button type="submit" class="btn btn-primary">Make my move!</button>
                    {% endif %}
            </form>

            <form action="/process_turn" method="post">
                {%if move_options['bus']|length > 0 %}
                    <h4>Bus{%if session_info['player_turn'] != 1 %} ({{ remaining_tickets_by_transport_method['bus'] }} tickets left) {% endif %}:</h4>
                    {% for bus_option in move_options['bus'] %}
                    <div class="alert alert-info" role="alert">
                        <input class="form-check-input" type="radio" name="selected_move" id="bus" value="{{ bus_option }}">
                        <label class="form-check-label" for="bus">{{ bus_option }}</label>
                        <input name="mode_of_transport" type="text" value="bus" hidden>
                    </div>
                    {% endfor %}
                    <input name="current_player_id" type="number" value="{{ current_player_id }}" hidden>
                    <input name="session_id" type="number" value="{{ session_info['session_id'] }}" hidden>
                    <button type="submit" class="btn btn-primary">Make my move!</button>
                    {% endif %}
            </form>

            <form action="/process_turn" method="post">
                {% if move_options['taxi']|length > 0 %}
                    <h4>Taxi{%if session_info['player_turn'] != 1 %} ({{ remaining_tickets_by_transport_method['taxi'] }} tickets left) {% endif %}:</h4>
                    {% for taxi_option in move_options['taxi'] %}
                    <div class="alert alert-warning" role="alert">
                        <input class="form-check-input" type="radio" name="selected_move" id="taxi" value="{{ taxi_option }}">
                        <input name="mode_of_transport" type="text" value="taxi" hidden>
                        <label class="form-check-label" for="taxi">{{ taxi_option }}</label>
                    </div>
                    {% endfor %}
                    <input name="current_player_id" type="number" value="{{ current_player_id }}" hidden>
                    <input name="session_id" type="number" value="{{ session_info['session_id'] }}" hidden>
                    <button type="submit" class="btn btn-primary">Make my move!</button>
                    {% endif %}
            </form>

            <form action="/process_turn" method="post">
                {% if session_info['player_turn'] == 1 and move_options['ferry']|length > 0 %}
                <h4>Ferry ({{ remaining_tickets_by_transport_method['hidden_ferry'] }} tickets left):</h4>
                {% for ferry_option in move_options['ferry'] %}
                <div class="alert alert-dark" role="alert">
                    <input class="form-check-input" type="radio" name="selected_move" id="ferry" value="{{ ferry_option }}">
                    <input name="mode_of_transport" type="text" value="hidden_ferry" hidden>
                    <label class="form-check-label" for="ferry">{{ ferry_option }}</label>
                </div>
                {% endfor %}
                <input name="current_player_id" type="number" value="{{ current_player_id }}" hidden>
                <input name="session_id" type="number" value="{{ session_info['session_id'] }}" hidden>
                <button type="submit" class="btn btn-primary">Make my move!</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}