{% extends 'layout.html' %}

{% block content %}

<div class="container-lg mt-5 text-center">
    <div class="row">
        <h2>Turn {{ session_info['turn'] }}</h2>
        <h3>{{ current_player }}, make your move</h3>
    </div>
    <div class="row">   
        <div class="col">
            <h3>Current Player Positions:</h3>
            {# Only show player information for non-mrx players or mrx during the correct turns and only while it it mrx's turn#}
            {% for player in players%}
                {% if (player['mrx']==1 and session_info['turn'] in [3,8,13,18,24] and session_info['player_turn'] == 1) or player['mrx']==0 %}
                    {% if player['mrx']==1 %}
                    <div class="alert alert-danger" role="alert">
                        <p>{{ player['nickname'] }} (Mr. X) is at position: <b>{{ player['position'] }}</b></p>
                    </div>
                    {% else %}
                    <div class="alert alert-warning" role="alert">
                        <p>{{ player['nickname'] }} is at position: <b>{{ player['position'] }}</b></p>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-6">
            
            <img src="{{ image }}" class="img-fluid" alt="Game Map">
        </div>
        <div class="col">
            <h3>Your Move Options:</h3>
            <p>{{ move_options }}</p>
        </div>
    </div>
</div>

{% endblock %}